<ion-header class="header" [translucent]="true">
  <ion-toolbar class="toolbar">
    <ion-title class="title">
      bienvenida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <swiper-container #swiper (click)="move()" (slidechange)="indexControl()" class="swiper" [loop]="true" [pagination]="true">
    <swiper-slide class="swiper-slide" *ngFor="let i of imageUrlList">
      <img [src]="i"/>
    </swiper-slide>
  </swiper-container>
</ion-content>
