.header {
  .toolbar {
    --background: #000;

    .title {
      --color: #FFF;
      text-transform: uppercase;
      font-weight: 400;
    }
  }
}

.content {
  position: relative;
  --padding-top: 12px;
  --padding-start: 12px;
  --padding-end: 12px;
  --padding-bottom: 12px;

  .btt-horizontal {
    position: absolute;
    z-index: 10;
    top: calc(16px + 56px);
    right: 16px;
    --background: #000;
    --color: #ffcd03;
    --border-radius: 0;
    --padding-end: 8px;
    --padding-start: 8px;
  }

  .swiper {

    .swiper-slide{
      width: 100%;
    }
    
    &::part(bullet-active) {
      background: #fefefe;
    }

    &::part(bullet) {
      background: #6f6f6f;
    }

    &.horizontal-swipe {      
      background-color: #000;


      &::part(container) {
        background-color: #000;
        height: 40vw;
        width: 100vh;
      }

    }
    
  }

  ion-progress-bar {
    --progress-background: #ffcd03;
  }

  .btt-bar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .play-btt {
      position: absolute;
      top: -80px;
      left: 0;
      z-index: 10;
      --border-radius: 0;
      --box-shadow: none;
      width: 56px;
      height: 56px;
      --background: #000;
      --color: #ffcd03;
    }

    .btts {
      
      --background: #ffcd03;
      --color: #000;
      --border-radius: 0;
      --box-shadow: none;
      width: 56px;
      height: 56px;
      /* &::part(native) {
        height: 58px
      } */
    }

    .btts-fonts {
      .btts {
        font-size: 24px;
      }
      
    }
  }

  &.scroll-content {
    &::part(scroll) {
      padding: 0;
      --offset-top: 0px;
    }
  }

}